body {
    color: rgb(0, 0, 0);
    background: #402717;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    margin: 0px;
    max-width: 100%;
}

main {
    margin: 50px;
}

main p {
    color: fff;
    font-family: "Noto Serif", serif;
    text-decoration: none;
}

header {
    border-bottom: solid 3px #ffffff;
    padding: 10px;
    font-size: 80px;
    color: #ffffb6;
    display: flex;

}

.destaque {
    background: #a0653d;
    padding-bottom: 25px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: center;
}

.text {
    margin-right: 15%;
}

h1 {
    color: #fff;
    font-size: 65px;
    margin-bottom: 5%;
}

.destaque p {
    color: #ffffb6;
    font-size: 45px;
    margin-top: 5px;
}

img {
    height: 200px;
    border-radius: 3%;
}

.lista-videos h2 {
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    text-decoration-line: overline;
}

.lista-videos {
    margin-top: 60px;
    margin-bottom: 100px;
}

.obras,
.historias,
.chavoso,
.jones,
.podcast {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.obras img {
    opacity: 0.85;
}

.historias img {
    opacity: 0.85;
}

.chavoso img {
    opacity: 0.85;
}

.obras img:hover {
    opacity: 1;
    border: 3px solid #ffffb6;
}

.historias img:hover {
    opacity: 1;
    border: 3px solid #ffffb6;
}

.chavoso img:hover {
    opacity: 1;
    border: 3px solid #ffffb6;
}

.jones img {
    opacity: 0.85;
}

.jones img:hover {
    opacity: 1;
    border: 3px solid #ffffb6;
}

.podcast img {
    opacity: 0.85;
}

.podcast img:hover {
    opacity: 1;
    border: 3px solid #ffffb6;
}

.cacador {
    margin-top: 50px;
}

.racismo {
    margin-top: 50px;
}

.historia-br {
    margin-top: 50px;
}

.pods {
    margin-top: 50px;
}

.rodape {
    padding: 25px;
    font-family: "Noto Serif", serif;
    background-color: #ffffb6;
    color: #402717;
    height: 400px;
    margin: 0px;
    font-size: 30px;
    font-weight: bolder;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;
}

.rodape p {
    font-size: 20px;
    color: #402717;
    margin-top: 20px;
}

footer {
    margin-bottom: 60px;
}

.icon-container-1 {
    font-size: 20px;
    display: flex;
    gap: 20px;
    margin-left: 58%;
    align-items: center;
}

.icon-container-2 {
    font-size: 20px;
    display: flex;
    gap: 20px;
    margin-left: 3%;
    align-items: center;
    
}

header img {
    height: 30px;
    padding: 10px;
    border: solid 2px #ffffb6;
    border-radius: 100%;
    margin-left: 10px;
}

.icones{
    justify-content: center;
    align-items: center;
    
}

.ico-rod{
    display: flex; 
    padding-right: 0;
    padding-left: 7%;
    padding-top: 2.5%;
    align-items: center;
}

.ico-rod p{
    font-size: 30px;
    color: #d00000;
    text-decoration: underline;
    display: inline;
    
}


.do{
    padding-left: 500px;
}
